/* .sidebar {
  max-width: 220px;
} */

.sidebar .scroll {
  position: relative;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 250px;
}

.sidebar .scroll::-webkit-scrollbar {
  width: 5px !important;
  max-height: 10px !important;
}

.sidebar .scroll::-webkit-scrollbar-thumb {
  background-color: #001F5D !important;
  border-radius: 4px;
}

.sidebar .scroll::-webkit-scrollbar-track {
  background-color: #fff;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.range-slider .range-slider__range {
  height: 6px !important;
  font-size: 10px !important;
  background: #FFC107 !important;
}

.range-slider .range-slider__thumb {
  background: #001F5D !important;
  /* height: 6px !important; */
  height: 14px !important;
  width: 14px !important;
}